@media screen and (min-width: 768px) {

    .box {
        /*追加*/
        opacity: 0.05;

        color: #9e911e;
        transition: all 3s;
        transform: translateY(40px);
    }

    .is-active {
        /*要素を表示させる*/
        opacity: 1;

        /*元の位置に戻す*/

        transform: translateY(0px);
    }

}
