@media screen and (min-width: 750px) {

    .box {
        /*追加*/
        opacity: 0.05;

        color: #9e911e;
        transition: all 3s;
        transform: translateY(0);
    }

    .is-active {
        /*要素を表示させる*/
        opacity: 1;

        /*元の位置に戻す*/
        transform: translateY(1);
    }
}
