@charset "UTF-8";

/* SPのヘッダー */
.header_inner {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: snow;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}


.head_SP {
  background-image: url(../images//head_SP.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 4rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 30;
  background: white;
}

.nav_anime {
  padding: 0 10px;
  /* 1つ目の影を隠す */
  overflow: hidden;
  color: transparent;
  /* テキスト本体は透明にする */
  font-size: 60px;
  /*
   影の設定
   1つ目：Y方向の位置にマイナスに設定してテキスト本体の上に配置、ぼかしなし
   2つ目：位置はテキスト本体と同じ、ぼかしなし
  */
  text-shadow: 0 -1.5em 0 #9e911e, 0 0 0 #9e911e;
  background: linear-gradient(to bottom, #9e911e 50%, transparent 50%) 0 100%;
  background-size: 100% 200%;
  transition: text-shadow 0.3s, background-position 0.3s;
}

.nav_anime:hover {
  /* 2つの影の位置を上方向に1.5emずつずらす */
  text-shadow: 0 0 0 snow, 0 1.5em 0 #9e911e;

  /* 背景の位置を動かす */
  background-position: 0 0;
  color: snow;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 100vh;
  opacity: 0.85;
}

.btn,
a.btn {
  color: #fff;
  background-color: #9e911e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover,
a.btn:hover {
  color: #fff;
  background: snow;
  color: #9e911e;
  border: 1px solid #9e911e;
  background-color: snow;
}




解説
/* SPは非表示 */






.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}


.video {
  text-align: center;
}

.top_logo {
  margin-left: 20px;
  text-align: left;
}

section {
  color: #9e911e;
  width: 100%;
}

.midashi {
  font-size: 64px;
  color: #9e911e;
  text-align: center;
}

.midashi_NZ {
  font-size: 32px;
  color: #9e911e;
}

.midashi_botom {
  font-size: 42px;
  margin-top: 10px;
  color: #9e911e;
  text-align: center;
}



.main_text {
  border-radius: 15px;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 86px;
  height: 40%;
  width: 60%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.main_img {
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.midashi,
.CV_midashi,
.midashi_FN {
  text-decoration: underline;
  text-decoration-color: #9e911e;
}

.midashi_FN {
  margin-right: 3rem;
}

/* About Us Section */
.aboutus {
  margin: 0 0 0 0;
  width: 100%;
  height: 600px;
  background-image: url("../images/aboutusbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.abmain {
  background-color: snow;
  margin-top: 5%;
  padding: 0 0 0 0;
  font-size: 18px;
  max-width: 600px;
  color: black;
  opacity: 0.9;
}

.copyright {
  background-color: #9e911e;
  text-align: center;
}

header {
  margin: 0 0 0 0;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 0 0;
}

html {
  font-size: 16px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-color: snow;
}

@media screen and (min-width: 750px) {

  .head_SP {
    display: none;
  }


  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }


  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  .midashi_NZ {
    font-size: 60px;
    margin-top: 2rem;
  }

  .card {
    font-size: 42px;
    margin-top: 2rem;
  }


  .header_inner {
    display: none;
  }


  .aboutus {
    height: 1200px;
  }

  .abmain {
    margin-left: 3rem;
    font-size: 40px;
    max-width: 1200px;
    width: 60%;
    height: 60%;
    opacity: 0.75;
  }

  .bottan {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .footer_nv {
    font-size: 24px;
    display: flex;
    text-align: left;
  }

  .main_img,
  .contents,
  .aboutus,
  .products,
  .contact {
    border-bottom: solid 1px #9e911e;
  }

  /*  グローバルナビ  */

  ul.gnav-navi-1 {
    padding: 0 0 0 0;
    margin-right: 300px;
    /* transform: translate(60%, -105%);*/
  }

  ul.gnav-navi-1 li {
    display: inline-block;
    list-style: none;
  }

  ul.gnav-navi-1 li a {
    display: block;
    padding-left: 1rem;
    color: #9e911e;
    text-decoration: none;
  }

  ul.gnav-navi-1 a::first-line {
    font-size: 16px;
  }

  li {
    list-style: none;
    padding: 0;
  }

  /* セクション */
  .main_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url(../images/mainimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  /* Content Section */
  .contents {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    background-size: 100%;
    background-image: url(../images/columnbg.png);
    background-repeat: no-repeat;
    text-align: center;
    min-height: 750px;
  }


  .flexbox {
    display: flex;
    align-items: center;
  }

  .flexbox:nth-child(even) {
    flex-direction: column;
  }

  .flex-title {
    font-size: 24px;
  }

  .flex-item {
    width: 500px;
    justify-content: flex-start;
    padding: 0 0 0 0;
  }

  .field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  }

  .column:hover {
    opacity: 0.5;
  }

  .CV_midashi {
    font-size: 64px;
    margin-bottom: 20px;
  }


  /* Products Section */
  .products {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 1200px;
    background-image: url("../images/productsbg.png");
    background-size: cover;

    text-align: center;
  }


  /* Recruit Section */
  .recruit {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 1200px;
  }

  .recruit_list a {
    color: #9e911e;
    /* 文字色 */
    display: inline-block;
    /* これがないとリンク範囲が全幅になる */
    font-size: 60px;
    /* 文字サイズ */
    position: relative;
    /* 相対位置指定 */
    text-decoration: none;
    /* デフォルトのテキストの下線を消す */
    margin-left: 25%;
  }


  /* 下線のスタイル */
  .recruit_list ul li a::after {
    background-color: #9e911e;
    /* 下線の色 */
    bottom: -4px;
    /* 要素の下端からの距離 */
    content: "";
    /* 要素に内容を追加 */
    height: 2px;
    /* 下線の高さ */
    left: 0;
    /* 要素の左端からの距離 */
    position: absolute;
    /* 絶対位置指定 */
    transform: scale(0, 1);
    /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
    transform-origin: left top;
    /* 変形の原点を左上に指定 */
    transition: transform .3s;
    /* 変形をアニメーション化 */
    width: 125%;
    /* 要素の幅 */
  }

  /* リンクにホバーした際の下線の表示 */
  .recruit_list ul li a:hover::after {
    transform: scale(1, 1);

    /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
  }

  .recruit_list {
    margin-top: 400px;
  }

  .saiyo {
    text-align: left;
    font-size: 24px;
  }

  .recruit img {
    max-width: 100%;
    height: auto;
    text-align: right;
  }

  .recruit_img:hover {
    opacity: 0.5;
  }

  /* Contact Section */
  .contact {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
  }

  .mail_img {
    max-width: 100%;
  }

  .mail_img:hover {
    opacity: 0.5;
  }

  .contactmain {
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eae9e9;
  }

  .footer_nv {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 253px;

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu_FN {
    margin-right: 3rem;
  }


  /* Footer */
  .footer02 {
    color: #9e911e;

    padding: 0 0 0 0;
  }

  .footer02 a {
    color: #9e911e;
    text-decoration: none;
  }

  .footer02 a:hover {
    text-decoration: underline;
  }

  .footer02 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
  }

  .footer02 .menu li {
    margin: 0;
    padding: 0 0 0 0;
  }


  .title span {
    display: block;
    opacity: 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s,
      opacity linear 0.7s;
  }

  .title span:first-child {
    transform: translate(0, 40px);
    font-size: 20px;
    transition-delay: 0.25s;
  }

  .title span:last-child {
    margin-top: 18px;
    transform: translate(0, 30px);
    font-size: 48px;
    transition-delay: 0.45s;
  }

  .bg.-visible .title span {
    opacity: 1;
    transform: translate(0, 0);
  }

  /****** Base style. ******/
  body {
    margin: 0;
  }


  /* PC表示 */
  .head_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul.gnav-navi-1 {
    margin-right: 0;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 750px) {


  .header {
    display: none;
  }


  .hamburger {
    margin-top: 5rem;
  }



  .main_img {
    background-image: url(../images/mainimg_sp.png);
    height: 750px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main_text {
    display: flex;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 90%;
    height: 20%;
  }

  .main_text p {
    margin-left: 20px;
  }

  .abmain {
    background-color: rgb(255 250 250/.5);
    height: 320px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 100px;
  }

  .aboutus {
    height: 800px;
  }

  .midasshi_AB {
    margin-bottom: 100px;
  }

  .CV_midashi {
    text-align: center;
    font-size: 34px;
  }

  .flex-item {
    margin: 20px;
  }

  .field {
    display: block;
    flex-direction: column;
  }

  .field .box1 {
    width: 100%;
  }

  .field .box2 {
    width: 100%;
  }

  .products {
    height: 1000px;
  }

  .midashi_botom {
    margin-bottom: 2rem;
  }

  .midashi_NZ {
    font-size: 24px;
  }

  .video {

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video h3 iframe {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  .recruit_list {
    font-size: 24px;
    padding-left: 1rem;
  }

  .nam {
    font-size: 34px;
  }

  .contact {
    text-align: center;
  }

  .contact_mail {
    margin-top: 1rem;
  }

  .contactmain {
    background-color: #eae9e9;
    padding-bottom: 1rem;
  }

  .mail_bottan {
    margin-top: 1rem;
  }

  .bottan {
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
  }


  .box1 {
    margin-bottom: 3rem;
  }

  .contents,
  .products,
  .aboutus,
  .recruit,
  .contact {
    margin-top: 60px;
  }

  .btn {
    text-align: center;
  }

  .contents,
  .recruit,
  .contact,
  .products {
    text-align: center;
  }

  .footer02 {
    margin-left: 0.5rem;
  }

  .menu li {
    margin-bottom: 1rem;
  }

  /* header固定のため余白をつける。メニューのCSSには関係ない */
  .nav {
    position: fixed;
    right: -320px;
    /* 右から出てくる */
    top: 0;
    width: 300px;
    /* スマホに収まるサイズ */
    height: 100vh;
    padding-top: 60px;
    background-color: #fff;
    transition: all 0.6s;
    z-index: 200;
    overflow-y: auto;
    /* メニューが多くなったらスクロールできるように */
  }

  .hamburger {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 40px;
    /* クリックしやすい幅 */
    height: 40px;
    /* クリックしやすい高さ */
    cursor: pointer;
    z-index: 300;
    transform: translate(0%, -40%);
  }

  .nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav_item {
    text-align: center;
    padding: 0 0 0 0;
  }

  .nav_item a {
    display: block;
    padding: 0 0 0 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #9e911e;
  }

  .nav_item a:hover {
    background-color: #eee;
  }

  .hamburger_border {
    position: absolute;
    left: 12px;
    width: 35px;
    height: 3px;
    background-color: #9e911e;
    transition: all 0.6s;
  }

  .hamburger_border_top {
    top: 14px;
  }

  .hamburger_border_center {
    top: 20px;
  }

  .hamburger_border_bottom {
    top: 26px;
  }

  .black_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #9e911e;
    opacity: 0;
    display: none;
    transition: all 0.6s;
    cursor: pointer;
  }

  /* 表示された時用のCSS */
  .nav-open .nav {
    right: 0;
  }

  .nav-open .black_bg {
    opacity: 0.8;

  }

  .nav-open .hamburger_border_top {
    transform: rotate(45deg);
    top: 20px;
  }

  .nav-open .hamburger_border_center {
    width: 0;
    left: 50%;
  }

  .nav-open .hamburger_border_bottom {
    transform: rotate(-45deg);
    top: 20px;
  }

  .footer_02 {
    flex-direction: column;
  }


  .copyright,
  .copyright img {
    width: 100%;
    min-width: 300px;
    height: 2rem;
  }
}

/* sp */
